.card-img-top {
    height: 600px;
    object-fit: cover;
}

.img-thumbnail {
    width: 120px;
    height: 100px;
    object-fit: fill;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.img-thumbnail:hover {
    transform: scale(1.1);
}

.btn-bookmark {
    width: 50px;
    height: 40px;
}

.bi-bookmark {
    color: white;
}

.bi-bookmark-fill {
    color: #ff6347;
}

.profile-card {
    cursor: pointer;
    transition: background-color 0.1s ease-out;
}

.profile-card:hover {
    background-color: rgb(250, 250, 250);
}

.comments {
    padding: 12px;
    background-color: #313a3a25;
}

.comment-error {
    height: 20px;
    display: flex;
    align-items: center;
  }
  

.category {
    width: fit-content;
    border-radius: 4px;
    padding: 4px 8px;
    color: #fd7a63;
    font-weight: 500;
}

.splitter {
    width: 100%;
    height: 1px;
    margin: auto;
    background-color:rgba(0, 0, 0, 0.2);
}

.star-rating {
    display: inline-block;
    font-size: 30px;
    width: fit-content;
    position: relative;
    unicode-bidi: bidi-override;
    color: #ddd;
}

.star-rating::before {
    content: "★★★★★";
    letter-spacing: 3px;
}

.star-rating .stars-fill {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #fd7a63;
}

.stars-fill::before {
    content: "★★★★★";
    letter-spacing: 3px;
}

@media (max-width: 767px) {
    .card-img-top {
        height: 300px;
    }
}