<div class="pos-f-t">
  <div class="collapse" id="navbarNav">
    <div class="bg-dark p-4">
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Next Use</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products']" role="button">Products</a>
        </li>
        <li class="nav-item" *ngIf="authService.profile$ | async as profile">
          <a class="nav-link" [routerLink]="['/profile', profile.id]" routerLinkActive="active">My Profile</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/admindashboard" routerLinkActive="active">Admin</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a  class="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a  class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
  <a class="nav-link position-relative" routerLink="/cart" routerLinkActive="active">
    Kurv

    <!-- Badge -->
    <ng-container *ngIf="(cartService.cart$ | async)?.items?.length as count">
      <span *ngIf="count > 0"
            class="badge badge-pill badge-light position-absolute"
            style="top: 0; right: -10px; font-size: 0.7rem;">
        {{ count }}
      </span>
    </ng-container>
  </a>
</li>
           
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a  class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

