body {
  font-family: 'Arial', sans-serif;
  background-color: #f7fafc;
  color: #4b5563;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #ffffff;
  padding: 80px 20px;
  color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

header p {
  font-size: 1.2rem;
  font-weight: 300;
}

.product-section {
  padding: 0 1rem;
}

.products-wrapper {
  padding: 12px;
  border-radius: 20px;
}

.products-container {
  position: relative;
  overflow: hidden;
  background-color: rgb(33, 37, 41);
  border-radius: 70px;
}

/* Dark fade effect on both sides */
.products-container::before,
.products-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.products-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(33, 37, 41, 1), rgba(0, 0, 0, 0));
}

.products-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(33, 37, 41, 0.9), rgba(0, 0, 0, 0));
}

.product-carousel {
  display: flex;
  gap: 16px;
  position: relative;
  width: max-content;
  animation: scrollProducts 20s linear infinite;
}

.product-card {
  width: 300px;
  height: 360px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  position: relative;
  height: 200px;
  background-color: #e5e7eb;
}

.product-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.product-info {
  padding: 15px;
}

.product-info h3 {
  font-size: 1.2rem;
  color: #4c51bf;
  font-weight: 600;
}

.product-info p {
  font-size: 0.9rem;
  color: #6b7280;
}

.product-info .price {
  font-size: 1.1rem;
  font-weight: 700;
  color: #1f2937;
}

.browse-button {
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.1s ease-out, background-color 0.1s ease-out;
}

.browse-button:hover {
  color: #ff6347;
  transform: scale(1.1);
}



.product-carousel::-webkit-scrollbar {
  height: 8px;
}

.product-carousel::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@keyframes scrollProducts {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}
